.holder {
    display: grid;
    grid-template-columns: 100px 100px; /* Create two equal columns */
    grid-template-rows: 100px 100px; /* Create two equal rows*/
    grid-gap: 5px; /* Add some gap between grid items */
    width: 200px; /* Set the total width to 200px */
    height: 200px; /* Set the total height to 200px */
}

/* Apply styles to the grid items (individual cells) */
.item {
    background-color: #3498db; /* Example background color */
    color: #fff; /* Example text color */
    padding: 10px; /* Example padding */
   
}